:root {
  --black: #111111;
  --white: #f5f5f5;
}

html,
*,
::before,
::after {
  box-sizing: border-box;
  border: 0 solid;
  color: var(--white);
  cursor: none;
}

body {
  margin: 0;
  margin-bottom: 0;
  right: 0;
  padding: 0;
  background-color: #111111;
  height: auto;
  overflow: hidden;
}

::selection {
  background-color: var(--white);
  color: var(--black);
}

/**************** Top Navigation Bar START****************/

.topnav-container {
  font-family: "Helvetica";
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 7vh 9vh;
  right: 0;
  text-align: center;
  z-index: 1;
}

.logo-wrapper {
  margin: 0;
}

.works-wrapper a {
  text-decoration: none;
  color: var(--white);
}
/**************** Top Navigation Bar END****************/

/**************** Hero Section START****************/
.hero-container {
  font-family: "Saol Display";
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  place-items: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.hero-image {
  position: relative;
  top: 36vh;
  left: 2vh;
}

.hero-image img {
  width: 35vw;
  height: auto;
  z-index: -1;
}

.text-top-wrapper {
  position: absolute;
  display: grid;
  place-items: center;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.text-portfolio {
  text-align: center;
  font-size: 1.5vw;
}

.text-nickboyd {
  text-align: center;
  width: 100%;
  font-size: 5.5vw;
}

.text-bot-wrapper {
  position: absolute;
  display: grid;
  place-items: center;
  top: 65vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 1;
}

.text-designer {
  text-align: center;
  width: 100%;
  font-size: 2vw;
}

.text-based {
  text-align: center;
  font-size: 1vw;
}

/**************** Hero Section END****************/

/**************** Bottom Navigation Bar START****************/
.bottomnav-container {
  font-family: "Helvetica";
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 7vh 9vh;
  right: 0;
  position: absolute;
  top: 83.7vh;
  width: 100%;
  text-align: center;
}

.profile-wrapper a {
  text-decoration: none;
}

.spandiv {
  position: relative;
}
/**************** Bottom Navigation Bar END****************/

/*********************** Screens START*********************/

/*****Extra Extra Large 1400px*****/

/*****Extra Large 1200px*****/

/*****Large 992px*****/

@media only screen and (max-width: 992px) {
  .hero-image img {
    width: 60vw;
  }
  .text-portfolio {
    font-size: 3vw;
  }
  .text-nickboyd {
    font-size: 7vw;
  }
  .text-designer {
    font-size: 3vw;
  }
  .text-based {
    font-size: 2vw;
  }
}

/*****Medium 768px*****/

@media only screen and (max-width: 768px) {
  .hero-image img {
    width: 70vw;
  }
  .text-portfolio {
    font-size: 3vw;
  }
  .text-nickboyd {
    font-size: 8vw;
  }
  .text-designer {
    font-size: 3.5vw;
  }
  .text-based {
    font-size: 2vw;
  }
}

/*****Small 576px*****/

@media only screen and (max-width: 576px) {
  .hero-image img {
    width: 80vw;
  }
  .text-portfolio {
    font-size: 4vw;
  }
  .text-nickboyd {
    font-size: 8vw;
  }
  .text-designer {
    font-size: 3.5vw;
  }
  .text-based {
    font-size: 2.5vw;
    margin-top: 15px;
  }
  .topnav-container {
    padding: 10vw;
    font-size: 3vw;
  }
  .bottomnav-container {
    padding: 10vw;
    font-size: 3vw;
    bottom: 0;
  }
}

/*********************** NOISE EFFECT******************/
.noise::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  opacity: 0.02;
  z-index: 1000;
  pointer-events: none;
  background: url(./Assets/noise.gif);
}

/************************ SPANLINKS EFFECTS *************************/

.hovereffect > div:nth-child(1) span {
  will-change: transform;
  transform-style: preserve-3d;
  transition: 0.5s;
  transition-delay: calc(0.05s * var(--index));
  transform-origin: bottom;
  display: inline-block;
}

.hovereffect > div:nth-child(2) span {
  position: relative;
  will-change: transform;
  transform-style: preserve-3d;
  transition: 0.5s;
  transition-delay: calc(0.05s * var(--index));
  transform-origin: top;
  display: inline-block;
  transform: translate3d(0, 100%, 0) rotateX(-90deg);
}

.hovereffect:hover > div:nth-child(1) span {
  transform: translate3d(0, -100%, 0) rotateX(-90deg);
}

.hovereffect:hover > div:nth-child(2) span {
  transform: translate3d(0, 0%, 0) rotateX(0deg);
}

.hovereffect > div {
  perspective: 1000px;
  transform-style: preserve-3d;
  overflow: hidden;
}

/********** CIRCLE CURSOR EFFECT ********/

.inner-cursor {
  position: fixed;
  left: 0px;
  width: 0px;
  height: 0px;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  transition: width 0.5s, height 0.5s;
  z-index: 2;
}

.inner-cursor.grow {
  width: 100px;
  height: 100px;
  transition: width 0.5s, height 0.5s;
}

.outer-cursor {
  position: fixed;
  left: 30px;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
  border: 1px solid var(--white);
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
}
